name: Multi-OS Build and Test

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    # Матрица стратегий для запуска на разных ОС
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    # Для Ubuntu нужно убедиться, что установлен компилятор (обычно он есть)
    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

    - name: Build
      run: cmake --build build --config ${{ matrix.build_type }}

    - name: Run Tests
      shell: bash # Используем bash как универсальную оболочку для ctest
      run: |
        cd build
        ctest -C ${{ matrix.build_type }} --output-on-failure